* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;
}

:root {
    --title-font_size: 2.4rem;
    --medium-font_size: 2rem;
    --text-font_size: 1.6rem;
    --dark-gray: #4A5245;
    --light-gray: #8F9E85;
    --dark-green: #476932;
    --medium-green: #85EB47;
    --light-green: #BCD1B0;
    --lightest-green: #D9D9D9;
    --white: #FFF;
    --black: #000;
}

body {
    background-color: var(--lightest-green);
    font-family: 'Sono', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: var(--dark-gray);
    width: 100%;
    height: 10vh;
    padding: 2rem  0;
}

/* logo */

header .logo {
    display: inline-block;
    color: var(--white);
    font-size: var(--title-font_size);
    margin-left: 1rem;
}

header .logo span {
    color: var(--light-green);
}

/* hamb button */

header .side-menu {
    float: right;
    display: none;
}

header .button-container {
    float: right;
    margin-right: 1.5rem;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--lightest-green);
    border-radius: 50%;
}

header .button-container .hamb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

header .hamb-line {
    width: 1.5rem;
    height: .2rem;
    background-color: var(--dark-green);
    display: block;
    position: relative;
}

header .hamb-line::after, .hamb-line::before {
    content: "";
    background-color: var(--dark-green);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: top 200ms ease-in 200ms, rotate 200ms ease-in, background 200ms;
}

header .hamb-line::after {
    top: .5rem;
}

header .hamb-line::before {
    top: -.5rem;
}


/* nav */

header .main-nav{
    background-color: var(--dark-gray);
    width: 100%;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 300ms ease-out;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px var(--dark-gray) ;
}

header .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .menu .menu-box {
    width: 14rem;
    height: 14rem;
    background-color: transparent;
    color: transparent;
    font-size: var(--medium-font_size);
    border-radius: 10px;
    margin: 1rem;
    transition: all 150ms ease-in;
}

header .menu .menu-box label {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-top: 2rem;
    cursor: pointer;
}

header .menu .menu-box input {
    display: none;
}

header .menu .menu-box label {
    display: block;
    position: relative;
}

/* toggle menu */

.side-menu:checked ~ .main-nav {
    max-height: 33rem;
    height: 33rem;
}

.side-menu:checked ~ .main-nav .menu-box {
    background-color: var(--black);
    color: var(--lightest-green);
}

.side-menu:checked ~ .button-container .hamb .hamb-line {
    background: var(--lightest-green);
    transition: background 0ms 200ms;
}

.side-menu:checked ~ .button-container .hamb .hamb-line::after {
    top: 0;
    rotate: -45deg;
    transition: top 200ms, rotate 200ms 200ms;
}

.side-menu:checked ~ .button-container .hamb .hamb-line::before {
    top: 0;
    rotate: 45deg;
    transition: top 200ms, rotate 200ms 200ms;
}

.menu-box_item:checked ~ label {
    box-shadow: 0px 0px 2px 3px var(--light-green);
}