* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html { 
    font-size: 62.5%;
}

:root {
    --title-font_size: 2.4rem;
    --medium-font_size: 2rem;
    --text-font_size: 1.6rem;
    --dark-gray: #4A5245;
    --light-gray: #8F9E85;
    --dark-green: #476932;
    --medium-green: #85EB47;
    --light-green: #BCD1B0;
    --lightest-green: #D9D9D9;
    --white: #FFF;
    --black: #000;
    --gray: rgb(48, 48, 48);
}

body {
    background-color: var(--lightest-green);
    font-family: 'Sono', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

header {
    background-color: var(--dark-gray);
    width: 100%;
    height: 13vh;
    padding: 4vh  0;
}

/* logo */

header .logo {
    display: inline-block;
    color: var(--white);
    font-size: var(--title-font_size);
    margin-left: 1rem;
}

header .logo span {
    color: var(--light-green);
}

/* hamb button */

header .side-menu {
    float: right;
    display: none;
}

header .button-container {
    float: right;
    margin-right: 1.5rem;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--lightest-green);
    border-radius: 50%;
}

header .button-container .hamb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

header .hamb-line {
    width: 1.5rem;
    height: .2rem;
    background-color: var(--dark-green);
    display: block;
    position: relative;
    transition: background 0ms 200ms;
}

header .hamb-line::after, .hamb-line::before {
    content: "";
    background-color: var(--dark-green);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: top 200ms ease-in 200ms, rotate 200ms ease-in;
}

header .hamb-line::after {
    top: .5rem;
}

header .hamb-line::before {
    top: -.5rem;
}

header .cover {
    position: absolute;
    top: 13vh;
    height: 80vh;
    width: 100%;
    z-index: inherit;
    background-color: rgba(0, 0, 0, 0.281);
    display: none;
}

.side-menu:checked ~ .cover {
    display: block;
}


/* nav */

header .main-nav{
    margin-top: 1rem;
    background-color: var(--dark-gray);
    width: 100%;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 350ms ease-out;
    box-shadow: 0 4px 8px var(--dark-gray);
    position: absolute;
    z-index: 2;
}

header a {
    width: 100%;
    margin-bottom: .4rem;
}

header a:active {
    box-shadow: 0px 0px 1px 3px var(--light-green);
}

header .menu {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

header .menu .menu-box {
    width: 100%;
    height: 9rem;
    font-size: var(--medium-font_size);
    transition: scale 100ms ease-in;
    color: var(--lightest-green);
    display: block;
}

header .menu .menu-box label {
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    padding-top: 2rem;
    cursor: pointer;
}

header .menu .menu-box label span {
    user-select: none;
}

main .menu-box_item {
    display: none;
}

header .menu .menu-box label {
    display: block;
    position: relative;
}

/* toggle menu */

.side-menu:checked ~ .main-nav {
    max-height: 40rem;
    height: 40rem;
}

.side-menu:checked ~ .main-nav .menu-box {
    color: var(--lightest-green);
    display: block;
    transition: background 0ms 200ms;
}

.side-menu:checked ~ .button-container .hamb .hamb-line {
    background: var(--lightest-green);
    transition: background 0ms 200ms;
}

.side-menu:checked ~ .button-container .hamb .hamb-line::after {
    top: 0;
    rotate: -45deg;
    transition: top 200ms, rotate 200ms 200ms;
}

.side-menu:checked ~ .button-container .hamb .hamb-line::before {
    top: 0;
    rotate: 45deg;
    transition: top 200ms, rotate 200ms 200ms;
}

.menu-box_item:checked ~ label {
    box-shadow: 0px 0px 2px 4px rgba(116, 156, 119, 0.548);
}

/* menu images */

.menu #destinos {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./pictures/van.jpg);
    background-size: cover;
    background-position: 0% 65%;
}

.menu #comida {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://placekitten.com/640/360);
    background-size: cover;
}

.menu #suenos {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://placekitten.com/640/360);
    background-size: cover;
}

.menu #nosotros {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://placekitten.com/640/360);
    background-size: cover;
}
/* main */

main {
    height: fit-content;
    width: 100%;
    position: absolute;
    z-index: 1;
}

/* main .cover {
    width: 100%;
    height: 80vh;
    position: absolute;
    background: var(--lightest-green);
    z-index: 1;
} */


main .container {
    padding: 1rem 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

main .container img {
    width: 70%;
    max-width: 50rem;
    margin: 1rem 0 2rem 0;
}

main .container .title {
    margin-bottom: 1rem;
}

main .container .color-changer {
    color: var(--dark-gray);
}

/* main content display */

main .destinos-content, .comida-content, .suenos-content, .nosotros-content {
    opacity: 0;
}

#first-nav-element:checked ~ .destinos-content{
    opacity: 1;
}

#second-nav-element:checked ~ .comida-content {
    opacity: 1;
}

#third-nav-element:checked ~ .suenos-content {
    opacity: 1;
}

#fourth-nav-element:checked ~ .nosotros-content {
    opacity: 1;
}

/* Footer */

footer {
    height: 7vh;
    width: 100%;
    background-color: var(--gray);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--lightest-green);
}

footer .socials {
    height: 100%;
    display: flex;
    align-items: center;
}

footer .socials a {
    color: var(--white);
    margin: 0 .3rem;
}
